body{
    min-width: 300px;
    margin: 0px;
    padding: 0px;
}

div.header {
    min-width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: auto;
}

div.word {
    margin-left: 20px;
}

div.nav-pane {
    width: 100%;
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(229, 223, 235, 0.966);
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  background-color: rgba(30, 0, 58, 0.966);
}

li a:hover {
  background-color: rgba(229, 223, 235, 0.966);
  color: rgba(30, 0, 58, 0.966);
}
